* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin: auto;
    /* border: solid black 1px; */
}

.equals {
    background-color: orange;
    width: 160px;
}

.display {
    height: 60px;
    background-color: rgb(158, 158, 167);
    border-radius: 6px;
    font-size: 15px;
    margin-bottom: 2px;
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
    padding-top: 12px;
    font-weight: 500;
    font-size: 30px;
}

body {
    padding-top: 50px;
    display: flex;
}

button {
    height: 80px;
    width: 80px;
    background-color: rgb(243, 168, 30);
    border-radius: 6px;
    font-size: 20px;
}

button.active {
    background-color: rgb(200, 129, 7);
}

.border {
    border: solid black 4px;
    border-radius: 8px;
    background-color: black;
    font-size: 0px;
}

sup {
    font-size: 0.6em; /* Adjust the size as needed */
    vertical-align: top; /* Keeps it above the baseline */
    position: relative;
    top: -0.2em; /* Fine-tune the vertical position */
    
}






